
html{
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 0.5rem;
}

.todo-app{
    width: 100%;
    max-width: 27rem;
    background-color: white;
    margin: 5rem auto 1rem;
    padding: 2rem 1.5rem 3.5rem;
    border-radius: 0.5rem;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.todo-app h2 img{
    width: 1.5rem;
    margin-left: 0.5rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 1.25rem;

}

input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.7rem ;
}

button{
    border: none;
    outline: none;
    padding: 0.8rem 2.5rem;
    background: #ff5945;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 2rem;
}

ul li{
    list-style: none;
    font-size: 0.85rem;
    padding: 0.6rem 0.4rem 0.6rem 2.5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-image: url(images/hula-hoop.png);
    background-size: cover;
    background-position: center;
    top: 0.6rem;
    left: 0.4rem;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    color: #555;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

@media (max-width:650px) {
    html{
        font-size: 16px;
    }
    
}

@media (max-width:500px) {
    html{
        font-size: 14px;
    }  
}

@media (max-width:420px) {
    html{
        font-size: 12px;
    }  
}

@media (max-width:360px) {
    html{
        font-size: 10px;
    }  
}

@media (max-width:300px) {
    html{
        font-size: 8px;
    }  
}